<div id="app-wrapper">
  <app-simple-toaster></app-simple-toaster>
  <nav>
    <a routerLink="/"
      class="play-demo"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      <div class="add-job"
        (click)="toggleForm()">
      </div>
    </a>
    <a routerLink="/about"
      class="about"
      routerLinkActive="active"></a>
  </nav>
  <div id="form-mask"
    (click)="toggleForm()"
    [ngClass]="{'active': showForm}">
  </div>
  <app-analysis-form id="add-job-form"
    [ngClass]="{'active': showForm}"
    (closeCb)="toggleForm($event)"></app-analysis-form>
  <router-outlet></router-outlet>
</div>