$text-color: #3f404d;
$black: #000000;
$white: #ffffff;
$white-shadow: #e7e7e7;
$white-gradient: #f8f8ff;
$gray-border: #ebebeb;
$green-light: #9ed4c7;
$green-gradient: #73ac78;
$blue-text: #3f2a72;
$red-text: #ac7373;