$white: #ffffff;
$white-shadow: #e7e7e7;
$white-gradient: #f8f8ff;
$gray-border: #ebebeb;
$green-light: #9ed4c7;
$green-gradient: #73ac78;
$blue-text: #3f2a72;

@mixin light-linear-gradient($start-color, $end-color) {
    background: $start-color;
    background: -moz-linear-gradient(top, $start-color 0%, $end-color 100%);
    background: -webkit-linear-gradient(top, $start-color 0%, $end-color 100%);
    background: linear-gradient(to bottom, $start-color 0%, $end-color 100%);
}

ul#analysis-list {
    list-style: none;
    max-width: 350px;
    margin: auto;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px $white-shadow;

    li {
        @include light-linear-gradient($white, $white-gradient);
        padding: 5px;
        border-top: 1px solid $gray-border;
        min-height: 5em;
        border-radius: 3px;

        &.more-results-btn {
            @include light-linear-gradient($green-light, $green-gradient);
            text-transform: uppercase;
            color: $white-gradient;
            font-size: 150%;
            min-height: 2em;
            max-height: 2em;
            text-align: center;
            line-height: 2em;
            cursor: pointer;
        }
    }
}