<div id="demo-page-wrapper">
  <div id="analysis-section">
    <ul id="analysis-list">
      <!-- Analysis Item -->
      <li class="analysis-item" *ngFor="let item of analysis | async | reverse">
        <i class="source" [ngClass]="item.source">
        </i>
        <span class="date-and-query">{{item.source}} - {{item.created_at | date:'medium'}} - Query: "{{item.query}}"
        </span>
        <div class="user-information">
          <span class="name-and-description">
            @{{item.user_name}}:
            <span class="description" title="{{item.user_description}}">{{item.user_description}}</span>
          </span>
        </div>
        <div class="message">
          &ldquo;{{item.message}}&bdquo;
        </div>
        <div class="analysis-information">
          <table>
            <colgroup>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
              <th class="user" [ngClass]="{'positive': item.analysis.health_related}">User</th>
              <th class="problem">Problem</th>
              <th class="solution">Solution</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="block-wrap">
                    {{item.analysis.health_related ? item.analysis.profile : 'not health related'}}
                  </div>
                </td>
                <td>
                  <div class="block-wrap">
                    {{item.analysis.problem}}
                  </div>
                </td>
                <td>
                  <div class="block-wrap">
                    {{item.analysis.solution}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <!-- End of Analysis Item -->
      <li class="more-results-btn" (click)="moreResults()">
        Show more
      </li>
    </ul>
  </div>
</div>